<template>
  <div class="directives">
    <div class="title">指令</div>
    <ul class="example-list">
      <li class="item">
        <p class="des">1. v-show : 切换元素的 display CSS 属, 元素始终会被渲染并保留在 DOM 中</p>
        <div class="content">
          <p v-text="vshow"></p>
        </div>
      </li>
      <li class="item">
        <p class="des">2. v-if : 根据表达式的值的真假条件渲染元素。在切换时元素及它的数据绑定 / 组件被销毁并重建<br>(当和 v-if 一起使用时，v-for 的优先级比 v-if 更高)</p>
        <div class="content">
          <p v-text="vif"></p>
        </div>
      </li>

      <li class="item">
        <p class="des">3. v-else : 为 v-if 或者 v-else-if 添加“else 块”</p>
        <div class="content">
          <p v-text="velse"></p>
        </div>
      </li>

      <li class="item">
        <p class="des">4. v-for : 基于源数据多次渲染元素或模板块 必须使用特定语法 alias in expression </p>
        <div class="content">
          <p v-text="vfor"></p>
        </div>
      </li>

      <li class="item">
        <p class="des">5. v-on : 绑定事件监听器。事件类型由参数指定。表达式可以是一个方法的名字或一个内联语句，如果没有修饰符也可以省略</p>
        <div class="content">
          <p v-text="von"></p>
          <p v-text="von_stop"></p>
          <p v-text="von_prevent"></p>
        </div>
      </li>

      <li class="item">
        <p class="des">6. v-bind : 动态地绑定一个或多个特性，或一个组件 prop 到表达式 在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象 在绑定 prop 时，prop 必须在子组件中声明</p>
        <div class="content">
          <p v-text="vbindSrc"></p>
          <p v-text="vbindClass"></p>
          <p v-text="vbindStyle"></p>
        </div>
      </li>
      <li class="item">
        <p class="des">7. v-model : 在表单控件或者组件上创建双向绑定</p>
        <div class="content">
          <p v-text="vmodel"></p>
          <input
            v-model="message"
            placeholder="edit me"
          >
          <p>Message is: {{ message }}</p>
        </div>
      </li>
    </ul>

  </div>
</template>

<script>
export default {
  name: "directives",
  data() {
    return {
      message: "小崔",
      vshow: "<div v-show='true'>Lris</div>",
      vif: "<div v-if='true'>Lris</div>",
      velse:
        "<div v-if='true'>Lris love me</div> <div v-else>Lris don't love me</div>",
      vfor: "<div v-for='item in items' :key='item.id'>{{ item.text }}<div>",
      von:
        "<button v-on:click='doThis'><button>  缩写:<button @click='doThis'></button>",
      von_stop: "停止冒泡: <button @click.stop='doThis'><button>",
      von_prevent: "阻止默认行为: <button @click.prevent='doThis'><button>",
      vbindSrc: "<img v-bind:src='imageSrc'>  <img :src='imageSrc'>",
      vbindClass: "<div :class='{classA: isA}'></div>",
      vbindStyle: "<div :style='{fontSize: size + 'px'}'></div>",
      vmodel: "<input v-model='message' placeholder='edit me'>"
    };
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
};
</script>

<style lang="less">
// 添加 less loader   npm i less  npm i less-loader (不然使用less语法会报错)
.directives {
  padding: 20px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .example-list {
    margin-top: 30px;
    font-size: 16px;
    .item {
      margin-bottom: 30px;
      font-weight: bold;
      .des {
        margin-bottom: 10px;
      }
      .content {
        color: #2973b7;
      }
    }
  }
  .tt {
    color: red;
  }
  .active {
    color: #2973b7;
  }
}
</style>

