<template>
  <div class="exercise">
    <ul class="ex-list">
      <li>
        <p>1. 如下图: 请小崔崔新建路由为 "dataTest"的新页面并创建cartData属性(所需字段自行设计,数量加减器不做 编辑删除图标不做), 完成页面渲染</p>
        <div><img src="@/assets/images/test1.png"></div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "HelloWorld",
  data() {
    return {};
  },
  computed: {},
  watch: {},
  methods: {}
};
</script>

<style  lang="less">
// 添加 less loader   npm i less  npm i less-loader (不然使用less语法会报错)
.exercise {
  font-size: 14px;
  margin: 20px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .ex-button {
    color: #fff;
    background: #122147;
    width: 140px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    line-height: 36px;
  }
  .ex-list {
    li {
      margin: 10px 0;
      img {
        display: block;
        width: 600px;
        margin-right: 10px;
      }
    }
  }
}
</style>

