<template>
  <div class="container">
    <div class="title">vue-lris</div>

    <!-- 按钮 -->
    <div class="ex-button" @click="handleClick('Hello Lris!')">
      {{button}}
    </div>

    <!-- 列表  商品列表 -->
    <ul class="ex-list">
      <li v-for="(item, index) in list" :key="index" @click="goPDP(item.skuCode)" >
        <div>
          <img :src="item.src">
        </div>
        <div>
          <p>{{`序号: ${index + 1}`}}</p>
          <p>{{`名称: ${item.title}`}}</p>
          <p>{{`数量: ${item.quantity}`}}</p>
          <p class="zt"  :style="returnStyle(item)">{{item.type == 1 ? '上架': (item.type == 3 ? "暂时缺货": "下架")}}</p>
        </div>
      </li>
    </ul>

    <button class="" @click="addList">添加</button>
    <button class="" @click="deletetList">删减</button>
    <span>上架商品总数: {{effectiveProductCounts}}</span>

    <div class="router-btn">
      <p>router</p>
      <button
        class=""
        @click="goPdp"
      >无参跳转</button>
      <button
        class=""
        @click="goPdpWithParams('123')"
      >带参跳转</button>
    </div>

    <div class="list">
      <div class="ex-button" @click="push('mini')">小程序</div>
        <div class="ex-button" @click="push('exercise')">练习</div>
        <div class="ex-button" @click="push('directives')">指令</div>
        <div class="ex-button" @click="push('router')">路由</div>
    </div>

    <div>{{text}}</div>

    <div v-for="(item, index) in dataArr" :key="index">{{item.title}}</div>

    <video src="@/assets/video/video1.mp4" controls></video>
  </div>
</template>
<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      button: "Click Me!",
      list: [
        {
          src:
            "https://uxresources.baozun.com/prod/88000033/20190611/802B86C72E0BAB309BB55EFA2687863C.jpg",
          title: "line",
          quantity: 5,
          type: 1,
          skuCode: 1233
        },
        {
          src:
            "https://uxresources.baozun.com/prod/88000033/20190611/802B86C72E0BAB309BB55EFA2687863C.jpg",
          title: "line",
          quantity: 2,
          type: 3,
          skuCode: 1234
        },
        {
          src:
            "https://uxresources.baozun.com/prod/88000033/20190611/9C26461B40C51A923CBED014E5BFB5AE.jpg",
          title: "line",
          quantity: 6,
          type: 2,
          skuCode: 2345
        }
      ],

      text: "",
      tempArr: [],
      dataArr: []


    };
  },
  computed: {
    // 计算属性 用于属性再次整合计算
    effectiveProductCounts() {

     let arr =  this.list.filter(i => i.type == 1)
     let a =  arr.map(item => item.quantity)

     console.log(a)
      return this.list
        .filter(i => i.type == 1)
        .map(n => n.quantity)
        .reduce((pre, n) => {
          return pre + n;
        }, 0);
    },
    colorActive(){
      return "red"
    },
    fontWeight(){
      return "bold"
    }
  },
  mounted(){
       let a = (2 > 1 ) && (3 > 6)    // false
       let b = (2 > 1 ) ||  (3 > 6) //  true
       console.log(a, b)

       let Iris = {
         name: "Iris",
         age: 16
       }

     this.text = Iris.age > 20 ? "成年" : "未成年"

     this.getList()
  },

  watch: {
    // 监听属性变化
    list(val) {
      console.log(val);
    }
  },
  methods: {

    // 绑定的方法在methods实现
    handleClick(mes) {
      this.button = this.button == "Click Me!" ? mes : "Click Me!";
    },
    // 动态添加删减列表
    addList() {
      this.list.push({
        src:
          "https://uxresources.baozun.com/prod/88000033/20190611/802B86C72E0BAB309BB55EFA2687863C.jpg",
        title: "line",
        quantity: 3,
        type: 1
      });
    },
    deletetList() {
      this.list.splice(0, 1);
    },
    goPDP(item){
       console.log(item)
       this.$router.push({'name': "pdp"})
    },
    returnStyle(item){
       let style =  item.type == 2 || item.type == 3  ?  {"color": "red", "font-weight": "bold"} : {}
       return style

    },
    // 携带参数跳转
    goPdpWithParams(sku){
      this.$router.push({name:'pdp',params:{skuCode:sku}})
    },
    // 无参跳转
    goPdp(){
      this.$router.push({name:'home'})
    },
    push(name){
      this.$router.push({name: name})
    },
    handleArr(ARR) {
         console.log(ARR)
    },
    getList() {

      let data = {
        code: 0,
        data:{
          ableCartItems:[{title: "aaa"},{title: "bbb"}]
        },
        success: true
      }

      this.dataArr = data.data.ableCartItems

      console.log(this.dataArr)
    },


  }
};
</script>

<style  lang="less">
// 添加 less loader   npm i less  npm i less-loader (不然使用less语法会报错)
.container {
  font-size: 14px;
  margin: 20px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .ex-button {
    color: #fff;
    background: #122147;
    width: 140px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    line-height: 36px;
  }
  .ex-list {
    li {
      margin: 10px 0;
      display: flex;
      img {
        display: block;
        width: 80px;
        margin-right: 10px;
      }
      .zt{
        &.active{
          color: rgb(250, 9, 9);
        }
      }
    }
  }
  .router-btn{
    margin-top: 20px
  }
}
</style>

