<template>
  <div class="container">
      登录
  </div>
</template>
<script>
export default {
  name: "login",
  data() {
    return {

    };
  },
  computed: {

  },
  watch: {

  },
  methods: {

  }
};
</script>

<style  lang="less">
// 添加 less loader   npm i less  npm i less-loader (不然使用less语法会报错)
.container {
  font-size: 14px;
  margin: 20px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .ex-button {
    color: #fff;
    background: #122147;
    width: 140px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    line-height: 36px;
  }
  .ex-list {
    li {
      margin: 10px 0;
      display: flex;
      img {
        display: block;
        width: 80px;
        margin-right: 10px;
      }
    }
  }
}
</style>

