<template>
  <div class="mini">
    <ul class="ex-list">
      <li>
        <p class="ex-title">1. 目录结构</p>
        <div><img src="@/assets/images/mini.png"></div>
      </li>
      <li>
        <p class="ex-title">2.app.json: 用来对微信小程序进行全局配置<br>(*每一个小程序页面也可以使用 .json 文件来对本页面的窗口表现进行配置。页面中配置项在当前页面会覆盖 app.json 的 window 中相同的配置项。)</p>
        <div>
          <p>常用配置项:</p>
          <p>1) pages:  用于指定小程序由哪些页面组成 (理解为路由)</p>
          <p>2) window:  用于设置小程序的状态栏、导航条、标题、窗口背景色。</p>
          <p>3) tabBar:  通过 tabBar 配置项指定 tab 栏的表现，以及 tab 切换时显示的对应页面。</p>
        </div>
      </li>
      <li>
        <p class="ex-title">3.app.js: 注册小程序。<br>(*App() 必须在 app.js 中调用，必须调用且只能调用一次)</p>
        <div>
          <p>常用方法:</p>
          <p>1) onLaunch: 生命周期回调——监听小程序初始化。</p>
          <p>2) onShow: 生命周期回调——监听小程序启动或切前台。</p>
          <p>3) onHide: 生命周期回调——监听小程序切后台。</p>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "mini",
  data() {
    return {};
  },
  computed: {},
  watch: {},
  methods: {}
};
</script>

<style  lang="less">
// 添加 less loader   npm i less  npm i less-loader (不然使用less语法会报错)
.mini {
  font-size: 14px;
  margin: 20px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .ex-button {
    color: #fff;
    background: #122147;
    width: 140px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    line-height: 36px;
  }
  .ex-list {
    li {
      margin: 10px 0;
      .ex-title{
        font-weight: bold;
      }
      img {
        display: block;
        width: 600px;
        margin-right: 10px;
      }
    }
  }
}
</style>

