<template>
  <div class="container">
    <h2>正则表达式</h2>
  </div>
</template>
<script>
export default {
  name: "regex",
  data() {
    return {

    };
  },
  mounted(){
    let string = "a1c  a2c  a6c"
    let regex = /a[^1-5]c/g
    console.log(string.match(regex))

  },
  computed: {

  },
  watch: {

  },
  methods: {

  }
};
</script>

<style  lang="less">
// let regex = /ab{2,5}c/g
    // let string = "abc abbc abbbbbc abbbbbbc"
    // console.log(string.match(regex))

    // let regex = /a[12]b/g
    // let string = "a0b a1b a2b a3b"
    // console.log(string.match(regex))

    // 16进制  #fff   #ffffff

    // let regex = /#([0-9a-fA-F]{3}|[0-9a-fA-F]{6})/g;

    // 时间

    // let regex = /^\d{4}-(0[1-9]|1[02])-(0[1-9]|[12][0-9]|3[01])$/
    // let string = "2019-08-16"
    // console.log(regex.test(string))

    // let string = "hello"
    // let regex = /^|$/g
    // let newString = string.replace(regex, '#')
    // console.log(newString)

    // let string = "[JS] Lesson_01.mp4"
    // let regex = /\b/g
    // let result = string.replace(regex,'#')
    // console.log(result)

    // let string = "hello"
    // let regex = /(?=o)/g
    // let result =  string.replace(regex, '#')
    // console.log(result)


    // let phone = /^1[3-9]\d{9}$/
    //  console.log(phone.test('152212781731'))

    // let email = /^([0-9]|[a-zA-z])(\w|\-|\.)+@[0-9a-zA-Z]+\.([a-zA-Z]{2,4})$/
    // console.log(email.test("junfu.sun@baozun.com"))

</style>


