<template>
  <div class="container">
    <div class="title">路由</div>
    <h3>模式</h3>
    <p>hash: 所有的路径都会被格式化为以 #! 开头。例如 example.com/#!/foo/bar</p>
    <p>history: 利用 history.pushState() 和 history.replaceState() 来管理浏览历史记录 注意： 当使用 HTML5 history 模式时，服务器需要被正确配置 以防用户在直接访问链接时会遇到404页面</p>
    <section class="section">
      <p>字符串</p>
      <div
        class="ex-button"
        @click="pushString"
      >字符串</div>
      <div
        class="ex-button"
        @click="pushStringWithParams('1')"
      >字符串(参数)</div>
    </section>

    <section class="section">
      <p>对象</p>
      <div
        class="ex-button"
        @click="pushObject"
      >对象</div>
      <div
        class="ex-button"
        @click="pushObjectWithParams('2')"
      >对象(参数)</div>
    </section>

    <section class="section">
      <p>命名</p>
      <div
        class="ex-button"
        @click="pushName"
      >命名</div>
      <div
        class="ex-button"
        @click="pushNameWithParams('3')"
      >命名(参数)</div>
    </section>

    <section class="section">
      <p>router-link (a 标签)</p>
      <router-link :to="{name: 'home'}">router-link</router-link>
      <router-link :to="{name: 'pdp', params:{skuCode: 55}}">router-params</router-link>
    </section>
  </div>
</template>
<script>
export default {
  name: "HelloWorld",
  data() {
    return {};
  },
  computed: {},
  watch: {},
  methods: {
    routerPush() {},
    pushString() {
      this.$router.push("/home");
    },
    pushStringWithParams(id) {
      this.$router.push("/pdp/" + id);
    },
    pushObject() {
      this.$router.push({ path: "/home" });
    },
    pushObjectWithParams(id) {
      this.$router.push({ path: "/pdp/" + id });
    },
    pushName() {
      this.$router.push({ name: "home" });
    },
    pushNameWithParams(id) {
      this.$router.push({ name: "pdp", params: { skuCode: id } });
    }
  }
};
</script>

<style  lang="less">
// 添加 less loader   npm i less  npm i less-loader (不然使用less语法会报错)
.section {
  margin-top: 20px;
}
</style>

