<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style  lang="less">
body {
  margin: 0;
  padding: 0;
}
ul, p{
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 30px;
  .container {
  font-size: 14px;
  margin: 20px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .ex-button {
    display: inline-block;
    margin: 15px 10px 0 0;
    color: #fff;
    background: #122147;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
  .ex-list {
    li {
      margin: 10px 0;
      display: flex;
      img {
        display: block;
        width: 80px;
        margin-right: 10px;
      }
    }
  }
  .router-btn {
    margin-top: 20px;
  }
}

}
</style>
